{% extends "base.html" %}

{% block title %}
AttendX | Organization Setup
{% endblock %}

{% block css %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/pages/setup.css') }}">

{% endblock %}


{% block content %}

<div class="setup-page">

    <h1>Organization Setup</h1>

    <p>
        Welcome to AttendX. Let's set up your organization.
    </p>

</div>

{% endblock %}


{% block js %}

<script src="{{ url_for('static', filename='js/pages/setup.js') }}"></script>

{% endblock %}